<!DOCTYPE html>
<html lang="pl">
	<head>
		<title>webdev.legnica || legnickie spotkania webdevowe</title>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=greek,latin" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Megrim&amp;subset=greek,latin,latin-ext" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css" rel="stylesheet">
		<link href="styles/style.css" rel="stylesheet">
	</head>

	<body>
		<div id="application">
			<div id="header">
				<div>webdev.legnica</div>
				<div class="subtitle">legnickie spotkania webdevowe</div>
				<div class="links">
					<a href="https://www.facebook.com/groups/webdevlegnica/" target="_blank">
						<i class="facebook icon"></i>
					</a>
					<a href="https://crossweb.pl/wyszukiwarka?fraza=webdev.legnica" target="_blank">
						<i class="crosshairs icon"></i>
					</a>
				</div>
			</div>
			<div id="content">
				<div class="about">
					<h2>o meetupie</h2>
					<div v-html="about"></div>

					<h2>patroni i sponsorzy</h2>
					<div id="patrons">
						<a :href="patron.url" v-for="patron in patrons" class="patron" target="_blank">
							<img :src="patron.logo" :alt="patron.name">
						</a>
					</div>
				</div>
				<div class="meetups">
					<h2>spotkania i prezentacje</h2>
					<div class="meetup" v-for="meetup in meetups">
						<div class="name">
							<span class="caret" @click="meetup.collapsed = !meetup.collapsed">
								<i class="clickable caret icon" :class="{ right: meetup.collapsed, down: !meetup.collapsed }"></i>
							</span>
							{{ meetup.name }}
							<span class="date">{{ meetup.date }}</span>
						</div>
						<div v-for="talk in meetup.talks" class="talk" v-if="!meetup.collapsed">
							<div class="title">{{ talk.title }}</div>
							<div class="author" v-if="talk.author">
								{{ talk.author }}, {{ talk.company }}
							</div>
							<div class="description" v-if="talk.description">{{ talk.description }}</div>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				2020 &copy; Krzysztof Rewak
				<a href="https://github.com/krzysztofrewak/" target="_blank">
					<i class="big github icon"></i>
				</a>
			</div>
		</div>
		<div id="map"></div>
	</body>

	<script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
	<script src="resources/patrons.js"></script>
	<script src="resources/meetups.json"></script>
	<script src="scripts/application.js"></script>
	<script src="scripts/particles.js"></script>
</html>

