html, body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", serif;
    font-weight: lighter;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: row;
}

a {
    color: inherit;
    font-weight: bolder;
    text-decoration: none;
}

h2 {
    font-size: 1.66em;
    font-weight: normal;
}

h2:not(:first-of-type) {
    margin-top: 2em;
}

.clickable {
    cursor: pointer;
}

#application {
    flex: 10;
    height: 100vh;
}

#map {
    flex: 1;
    background: #fec611;
    background: url("../assets/lca.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#header {
    font-family: "Megrim", serif;
    font-size: 2.66em;
    padding: .66em 1em;
    font-weight: bolder;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#header > div {
    padding-bottom: 8px;
}

#header .subtitle {
    font-size: .66em;
    margin-left: .66em;
    opacity: .66;
}

#header .links {
    flex-grow: 1;
    text-align: right;
    font-size: .66em;
    margin-left: .66em;
    opacity: .66;
}

#content {
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}

#content > div {
    flex: 1;
    padding: 0 3em;
}

#patrons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#patrons img {
    width: 160px;
    padding: 0 2em;
}

.meetup:not(:first-of-type) {
    margin-top: 2em;
}

.meetup .name {
    font-weight: normal;
    line-height: 2em;
    font-size: 1.25em;
}

.meetup .date {
    font-weight: normal;
    opacity: .66;
    font-size: .75em;
}

.meetup .talk {
    padding: .33em 0;
}

.meetup .title {
    font-weight: bold;
    display: inline;
}

.meetup .description {
    padding: 1em;
}

.meetup .author {
    opacity: .66;
    display: inline;
}

.simplebar-scrollbar::before {
    background: #fec611;
}

#footer {
    padding: 3em 1em 1em;
    font-size: .85em;
    opacity: .5;
    display: flex;
    align-items: center;
    justify-content: end;
}

#footer > a {
    margin-left: 1em;
}

@media (min-width: 1280px) {
    #application {
        flex: 3;
    }

    #header {
        flex-direction: row;
        text-align: left;
    }

    #header > div {
        padding-bottom: 0;
    }

    #content {
        flex-direction: row;
    }
}