html, body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    font-family: "Raleway", serif;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bolder;
}

h1, h2, h3 {
    opacity: .85;
    font-weight: normal;
}

h2.header {
    opacity: .25;
    font-family: "Raleway", serif;
    font-size: 1.5em;
    margin-left: 2em;
    font-weight: bold;
}

.content {
    flex: 2;
    height: 100vh;
}

.map {
    flex: 1;
    background: #fec611;
    background: url("../assets/lca.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.page {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em;
    padding: 0 3em;
}

.page:nth-child(even) {
    background: #f9f9f9;
}

.landing {
    font-family: "Megrim", serif;
    position: relative;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.landing strong {
    display: block;
}

.landing h1 {
    font-size: 3em;
}

.landing h2 {
    font-size: 2em;
}

.page > p {
    padding: 0 1em;
    font-size: .8em;
    text-align: justify;
    text-indent: 2.5em;
    line-height: 1.5em;
}

.agenda {
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

.agenda.item {
    margin: 1em 3em;
    padding: .33em 2em;
    font-weight: normal;
    border-left: .33em #fec611 solid;
}

.agenda.item.insignificant {
    opacity: .75;
}

.agenda.item .date {
    font-size: .8em;
    opacity: .66;
    padding-right: .66em;
    display: inline;
}

.agenda.item .author {
    font-size: .8em;
    opacity: .66;
    display: inline;
}

.agenda.item .title {
    padding-top: .5em;
}

.agenda.item p {
    font-size: .75em;
    padding: 0 1em;
}

.topics {
    margin-top: 1.5em;
    font-size: .75em;
    width: 100%;
}

.topics td, th {
    text-align: left;
    line-height: 1.5em;
}

.patrons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: 100%;
}

.patron {
    width: 160px;
    padding: 0 2em;
    cursor: pointer;
}

.pagination {
    position: fixed;
    color: #fec611;
    padding: .33em;
}

.pagination i {
    display: block;
    padding-bottom: .33em;
}

.simplebar-scrollbar::before {
    background: #fec611;
}